*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:linear-gradient(135deg,#4facfe,#00f2fe);
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.container{

    width:420px;

    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:0 10px 30px rgba(0,0,0,.2);

}

h1{

    text-align:center;

    color:#333;
}

.subtitle{

    text-align:center;

    color:gray;

    margin:10px 0 25px;
}

input{

    width:100%;

    padding:12px;

    margin-bottom:15px;

    border:2px solid #ddd;

    border-radius:8px;

    font-size:15px;

    transition:.3s;
}

input:focus{

    border-color:#4facfe;

    outline:none;

    box-shadow:0 0 8px rgba(79,172,254,.5);
}

button{

    width:100%;

    padding:12px;

    border:none;

    border-radius:8px;

    background:#4facfe;

    color:white;

    font-size:17px;

    cursor:pointer;

    transition:.3s;
}

button:hover{

    background:#0077ff;

    transform:scale(1.03);
}

#message{

    text-align:center;

    margin-top:15px;

    color:green;

    font-weight:bold;
}

h2{

    text-align:center;

    margin:25px 0 15px;

    color:#333;
}

.card{

    background:#f8f9fa;

    border-left:6px solid #4facfe;

    padding:15px;

    margin-bottom:12px;

    border-radius:10px;

    box-shadow:0 5px 10px rgba(0,0,0,.1);

    transition:.3s;
}

.card:hover{

    transform:translateY(-3px);

    box-shadow:0 8px 20px rgba(0,0,0,.15);
}

.card p{

    margin:6px 0;
}

@media(max-width:500px){

.container{

width:90%;

}

}